@import 'variables.less';
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#__next {
  height: 100%;
  width: 100%;
}

html {
  font-family: sofia-pro, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
    Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica Neue, Arial,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

  //letter-spacing: 0.08em;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 450;
  margin: 0;
  letter-spacing: 0.08em;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.c-button {
  .shaded-button(@gray-color-hsl, 2%);
  &--pink {
    .shaded-button(@pink-color-hsl, 2%);
  }
  &--teal {
    .shaded-button(@teal-color-hsl, 7%);
  }
  display: inline-flex;
  &--full-width {
    height: 56px;
    width: 100%;
  }

  &__text {
    margin: auto;
    font-weight: bold;
    letter-spacing: 0.08em;
    color: white;
  }
}
