@import 'variables.less';

.c-group-info {
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(
    lighten(@teal-color, 15%),
    lighten(@teal-color, 6%)
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  &__picture-wrapper {
    box-shadow: 0 0 0 4px white;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin-top: 72px;
    // margin-bottom: 8vh;
    overflow: hidden;
    position: relative;

    .c-group-info__picture {
      // ensure that image fills entire container and maintains aspect ratio
      min-width: 100%;
      min-height: 100%;
      width: 100%;
      height: auto;
      object-fit: cover;
      // center image.
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__name-region {
    width: 100%;
    font-size: 24px;
    position: relative;
    // padding: 0 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
  &__input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid darken(@teal-color, 10%);
    font-size: 16px;
  }
  &__edit-icon {
    position: absolute;
    right: 36px;
    font-size: 24px;
    height: fit-content;
    // top: 0;
    // bottom: 0;
    &--cancel {
      font-size: 32px;
    }
  }
  &__cost-region {
    width: 100%;
    font-size: 16px;
    margin-bottom: 16px;
  }
}

.c-group-contents {
  width: 100%;
  min-height: 50vh;
  padding: 0 0;
  &__list-wrapper {
    width: 100%;
    padding-top: 8px;
    display: block;
    &--hidden {
      display: none;
    }
  }
  &__list-header {
    padding: 8px 16px;
    width: 100%;
    span {
      font-weight: 300;
      color: @dark-gray-color;
      text-transform: uppercase;
      font-size: 0.8rem;
    }
  }
  &__list {
    width: 100%;
    border: 0px solid @teal-color;
    border-bottom-width: 0.5px;

    .c-group-item {
      border: 0px solid @teal-color;
      border-top-width: 0.5px;
    }
  }
}
.c-group-item {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px 16px;

  &__name {
  }
  &__selectors {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
  }

  &__counter {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    padding: 0 4px;
  }
  &__chosen-amount {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid darken(@teal-color, 10%);
    height: 24px;
    width: 48px;
    margin: 0 4px;
  }
  // TODO create a better-looking checkbox.
  &__check-box {
    width: 20px;
    height: 20px;
    margin-left: 8px;
  }
  &__display-amount {
    font-style: italic;
    color: @gray-color;
  }
}
